body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background: linear-gradient(90deg, rgb(202, 202, 219), rgb(205, 164, 69), rgb(134, 132, 132));
}

a {
    color: rgb(0, 0, 0);
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}

.button {
    position: relative;
    text-align: center;
    border-radius: 20% 10%;
    border: 3px solid black;
    color: white;
    background-color: black;
    height: 50px;
}

.button:hover {
    transform: scale(1.05);
    background-color: #817b7b;
}

p {
    font-size: 18px;
    text-align: justify;
    margin-right: 30px;
    margin-bottom: 60px;
}

input {
    padding: 8px;
    border-radius: 8px;
}

#cadastrar {
    text-align: center;
    width: 100%;
}

#downloadapp {
    position: relative;
    text-align: center;
    border-radius: 20% 10%;
    border: 3px solid black;
    color: white;
    background-color: black;
    height: 50px;
}

#downloadapp:hover {
    transform: scale(1.05);
    background-color: #817b7b;
}

#blackfriday {
    max-width: 100%;
    height: auto;
}